<el-container style="height: 800px; border: 1px solid #eee">

    <el-header style="text-align: left; font-size: 16px">
        <el-row  type="flex" >
            <el-col :span="1">
                <i class="el-icon-eleme" style="font-size: 40px;line-height: 60px;padding-left: -10px">

                </i>

            </el-col>
            <el-col :span="15">
                <span style="font-size: 28px;font-weight: 500;line-height: 62px;margin-left: -20px;">GoCloud</span>

            </el-col>

            <el-col style="text-align: right;line-height: 60px" :span="8">
                <span>XXXX</span>
            </el-col>

        </el-row>


    </el-header>


    <el-container>
        <el-aside width="200px" style="background-color: rgb(238, 241, 246);height: 100%;">
            <el-menu background-color=" rgb(238, 241, 246)">
                <el-menu-item index="4">
                    <i class="el-icon-setting"></i>
                    <span slot="title">全部文件</span>
                </el-menu-item>

                <el-menu-item index="2">
                    <i class="el-icon-setting"></i>
                    <span slot="title">我的分享</span>
                </el-menu-item>

                <el-menu-item index="3">
                    <i class="el-icon-setting"></i>
                    <span slot="title">回收站</span>
                </el-menu-item>


            </el-menu>
        </el-aside>


        <el-main style="padding: 0px;">

            <el-row style="padding: 10px">
                <el-col :span="24">
                    <el-button type="primary" icon="el-icon-edit">上传</el-button>
                </el-col>

            </el-row>

            <el-table  :height="tableheight"   ref="multipleTable" :data="tableData"  style="width: 100%;"
                      @selection-change="handleSelectionChange">

                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column prop="name" label="文件名">
                </el-table-column>

                <el-table-column prop="size" label="大小" width="120">
                </el-table-column>

                <el-table-column prop="date" label="修改日期" width="140">
                </el-table-column>
            </el-table>
        </el-main>
    </el-container>
</el-container>