<div id="app" style="height: 100vh;display: flex" v-cloak>



<el-container style="border: 1px solid #eee"  v-cloak>

    <el-header style="text-align: left; font-size: 16px">
        <el-row type="flex">

            <el-col :span="16">
                <img src="/assets/img/logo1.svg" width="170px" style="padding-top: 10px">

            </el-col>

            <el-col style="text-align: right;line-height: 60px" :span="8">
                <el-avatar style="margin-top: 12px;position: absolute;right: 80px;" :size="35"    src="/assets/img/t.png"></el-avatar>
                <el-dropdown  @command="UserCommandHandler">
                      <span class="el-dropdown-link" style="color: white;font-size: 18px">

                        {{.username}}<i class="el-icon-arrow-down el-icon--right"></i>
                      </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="info" icon="el-icon-user">个人中心</el-dropdown-item>
                        <el-dropdown-item command="exit" icon="el-icon-close">退  出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>

        </el-row>


    </el-header>


    <el-container >
        <el-aside width="200px" style="background-color: rgb(238, 241, 246);">
            <el-menu @select="allfile" background-color=" rgb(238, 241, 246)">
                <el-menu-item  index="1">
                    <i class="el-icon-folder-opened"></i>
                    <span slot="title">全部文件</span>
                </el-menu-item>

                <el-menu-item index="2">
                    <i class="el-icon-share"></i>
                    <span slot="title">我的分享</span>
                </el-menu-item>

                <el-menu-item index="3">
                    <i class="el-icon-delete-solid"></i>
                    <span slot="title">回收站</span>
                </el-menu-item>


            </el-menu>
        </el-aside>


        <el-main style="padding: 0px;" >

            <el-row style="padding: 10px">
                <el-col :span="24">
                    <el-button type="primary"  id="browseButton">
                        <i style=";" class="el-icon-upload"></i>
                        上传</el-button>
                    <el-button type="primary" @click="dialogFormVisible = true" plain>新建文件夹</el-button>


                </el-col>

            </el-row>
            <el-row style="padding-left: 10px">
                <el-col :span="24">
                    <el-breadcrumb  separator=">" style="font-size: 12px;">
                        <el-breadcrumb-item  v-for="item in NavArray" :key="item.ID" >
                            <a class="filemouse" style="color: #3a8ee6" @click="preDir(item)">$item.FileName$</a>

                        </el-breadcrumb-item>
                    </el-breadcrumb>
                </el-col>

            </el-row>





            <el-table :height="tableheight" ref="multipleTable" :data="tableData" style="width: 100%;font-size: 13px"
                      @selection-change="handleSelectionChange"
                      @row-contextmenu = "row_contextmenu"
                      @row-click="mouseleftclick"
                      :default-sort = "{prop: 'FileName', order: 'descending'}"
                      >

                <el-table-column type="selection" width="55">
                </el-table-column>

                <el-table-column sortable prop="FileName" label="文件名">
                    <template  slot-scope="temp">
                        <i style="font-size: 22px;color: #3a8ee6;position: absolute" v-bind:class="[temp.row.IsDir ? 'el-icon-folder' : 'el-icon-document']"></i>
                        <span class="filemouse" style="margin-left: 35px" @click="fileOnclick(temp)">$temp.row.FileName$</span>
                    </template>
                </el-table-column>


                <el-table-column sortable prop="FileSize" label="大小" width="200" :formatter="table_silze_formatter">
                </el-table-column>

                <el-table-column sortable prop="LastUpdated" label="修改日期" width="300" :formatter="table_date_formatter">
                </el-table-column>
            </el-table>
            <el-button  @click="drawer = true"  style="position: fixed;bottom: 20px;right: 20px;font-size: 20px;font-weight: 700" type="primary"  icon="el-icon-upload2" circle></el-button>
        </el-main>
    </el-container>
</el-container>

<el-drawer v-cloak
        title="文件上传列表"
        :visible.sync="drawer"
        :with-Header="false">

    <el-header style="text-align: left; font-size: 16px">
        <el-row type="flex">
            <el-col :span="20">
                <i class="el-icon-paperclip" style="font-size: 20px;line-height: 60px">
                </i>
                <span style="font-size: 20px;line-height: 60px">  上传列表</span>

            </el-col>


        </el-row>


    </el-header>

    <el-main style="padding: 0px;">


        <el-table height="100%" :data="uploadTableData" style="width: 99.9%;font-size: 13px"   >


            <el-table-column sortable prop="name"  label="文件名">

            </el-table-column>


            <el-table-column label="状态" width="100px" >
                <template slot-scope="scope">
                    <span v-if="scope.row.isSecond">秒传</span>
                    <el-progress v-else style="position: relative;top: 5.6px;" :width = 40  :stroke-width=3   :status=scope.row.uploadstatus  type="circle" :percentage=scope.row.curprogress ></el-progress>
                </template>
            </el-table-column>

            <el-table-column label="操作" width="120px" >
                <template slot-scope="scope">

{{/*                    <el-button v-if="scope.row.isUploading()" style="font-size: 12px" type="warning" icon="el-icon-video-pause"  @click="uploadPause(scope)" circle></el-button>*/}}
{{/*                    <el-button v-else="scope.row.isUploading()" style="font-size: 12px" type="warning" icon="el-icon-caret-right"  @click="uploadPause(scope)" circle></el-button>*/}}

                    <el-button  style="font-size: 12px" type="danger" icon="el-icon-delete" @click="uploadDelete(scope)" circle></el-button>
                </template>
            </el-table-column>

        </el-table>

    </el-main>
</el-drawer>

<el-dialog v-cloak title="目录名称" :close-on-click-modal=false width="400px" :visible.sync="dialogFormVisible">
    <el-form >
        <el-input v-model="dir_name" autocomplete="off"></el-input>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="OnCreateDir">确 定</el-button>
    </div>
</el-dialog>

<el-dialog v-cloak title="重命名" width="400px" :visible.sync="newFileNameDialogFormVisible">
    <el-form >
        <el-input v-model="newFileName" autocomplete="off"></el-input>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="newFileNameDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="OnRenameFile">确 定</el-button>
    </div>
</el-dialog>

<el-dialog v-cloak title="提示"
        :visible.sync="DeletedialogVisible"
        width="400px">
    <span>确认删除？</span>
    <span slot="footer" class="dialog-footer">
    <el-button @click="DeletedialogVisible = false">取 消</el-button>
    <el-button type="danger" @click="fileDelete">确 定</el-button>
  </span>
</el-dialog>

<el-dialog v-cloak title="移动文件到" width="400px" :visible.sync="moveFileDialogFormVisible" >

    <el-scrollbar>
        <el-scrollbar style="border: #5b667b solid 1px; height: 400px">

            <el-tree :data="moveFileData"
                 :highlight-current="true"
                 node-key="id"
                 :default-expanded-keys='moveFileTreeDefaultExpanded'
                 @node-click="moveFileTreeSelect"
                 :props="moveFiledefaultProps"
        >
        <span class="custom-tree-node" slot-scope="{ node, data }">
            <span style="color: #3a8ee6"><i class="el-icon-folder"></i> $node.label$</span>
        </span>
        </el-tree>
        </el-scrollbar>
    </el-scrollbar>


    <div slot="footer" class="dialog-footer">
        <el-button @click="moveFileDialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="OnMoveFile">确 定</el-button>
    </div>
</el-dialog>

<el-dialog v-cloak :title="shareForm.name" width="500px" :close-on-click-modal=false :visible.sync="shareDialogFormVisible">
    <el-form :model="shareForm" label-width="80px">

        <el-form-item style="width: 200px;"  label="有 效 期">
            <el-select v-model="shareForm.expdate"  placeholder="">
                <el-option label="1 天" value="1"></el-option>
                <el-option label="7 天" value="7"></el-option>
                <el-option label="永久有效" value="0"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="设置密码">
            <el-switch v-model="shareForm.haspwd"></el-switch>
        </el-form-item>

        <el-form-item  v-if="shareForm.haspwd" label="分享密码">
            <el-input  style="width: 120px;" v-model="shareForm.pwd" width="200px"></el-input>
        </el-form-item>

        <el-form-item v-if="shareForm.link.length>0" label="分享链接">
            <el-input v-model="shareForm.link" width="200px"></el-input>
        </el-form-item>





    </el-form>

    <div slot="footer" class="dialog-footer">
        <el-button @click="shareDialogFormVisible = false">取 消</el-button>
        <el-button v-if="!(this.shareForm.link.length>0)" @click="OnShareFile" type="primary"  >创建链接</el-button>

        <button v-else class="copybtn el-button el-button--primary"  >
            复制链接
        </button>
    </div>
</el-dialog>

<div v-cloak id="context-menu" class="context-menu" style="display: none">
    <ul class="list" style="z-index: 100;  display: block;">

        <li  @click="fileDownload" class="" style="display: block;">下载</li>
        <li class="separate" ></li>

        <li @click="preShareFile" class="" style="display: block;">分享</li>
        <li class="separate"></li>

        <li @click="preOnMoveFile" class="" style="display: block;">移动到</li>
        <li  @click="preOnRenameFile" class="" style="display: block;">重命名</li>
        <li @click="fileDeleteConfirm"  class="" style="display: block;">删除</li>
        </li>
    </ul>
</div>


</div>
<script src="/assets/libs/clipboard/clipboard.js"></script>

<script src="/assets/js/app.js"></script>


<script>

    clipboard = new ClipboardJS('.copybtn', {
        text: function(a) {

            return  vm.$data.shareForm.share_copy_text;
        }
    });

    clipboard.on('success', function(e) {
        vm.$data.shareDialogFormVisible = false
        vm.$message({
            message:"复制成功，快去分享吧",
            type: 'success',
            offset: 100
        });
    });

    clipboard.on('error', function(e) {
       ErrMsg(e)
    });


</script>